// font
$base-font-size: 1em;
$base-line-height: 1.25 * $base-font-size;

// color
$background-color: #fff;
$text-color: #408bbd;
$error-color: #f44336;
$button-text-color: #408bbd;
$button-text-transform: none;
$button-text-hover-color: #61b0e7;
$button-color: #fff;
$button-border: 1px solid #fff;
$border-color: #22cd9b;
$border-style: 1px solid #22cd9b;
